<!DOCTYPE HTML>
<html lang="en" class="ayu">

<head>
  <meta charset="UTF-8">
  <title>Reveal.js – {{ title }}</title>
  <meta name="robots" content="noindex" />

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="shortcut icon" href="../favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ path_to_root }}mdbook-reveal/reveal/reset.css">
  <link rel="stylesheet" href="{{ path_to_root }}mdbook-reveal/reveal/reveal.css">
  <link rel="stylesheet" href="{{ path_to_root }}mdbook-reveal/reveal/theme/black.css" id="theme">
  <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
  {{!-- <link rel="stylesheet" href="{{ path_to_root }}css/general.css"> --}}
  <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
  <link rel="stylesheet" href="{{ path_to_root }}ayu-highlight.css"> <!-- ayu highlight.js theme -->
  <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">
  <style>
    .exit-button {
      position: absolute;
      inset: 12px 12px auto auto;
      border: none;
      background: none;
      font-size: 2em;
      color: rgb(73, 178, 250);
      opacity: 0.2;
      cursor: pointer;
      transition-duration: 0.2s, 0.2s, 0.2s;
      transition-property: color, opacity, transform;
      transition-timing-function: ease, ease, ease;
    }

    .exit-button:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    /* highlight.js code table */
    .hljs-ln {
      width: 100%;
    }
  </style>
  <!-- Custom theme stylesheets -->
  {{#each additional_css}}
  <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
  {{/each}}
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
        <section data-template>
          {{ content }}
        </section>
      </section>
    </div>
  </div>

  <script src="{{ path_to_root }}mdbook-reveal/reveal/reveal.js"></script>
  <script type="text/javascript">
    function initializeExitButton() {
      function closePresentation() {
        const pathname = window.location.pathname.replace(/.reveal.html$/, '.html')
        window.location = pathname
      }

      const /* mut */ exitButton = document.createElement('button');
      exitButton.className = 'exit-button';
      exitButton.innerHTML = '<i class="fa fa-times"></i>';
      exitButton.title = 'Close presentation';
      exitButton.setAttribute('aria-label', exitButton.title);
      exitButton.addEventListener('click', closePresentation);

      document.body.append(exitButton);
    }

    const loadScript = src => {
      return new Promise((resolve, reject) => {
        const script = document.createElement('script');
        script.type = 'text/javascript';
        script.onload = resolve;
        script.onerror = reject;
        script.src = src;
        document.head.append(script);
      })
    }

    Reveal.addEventListener( 'ready', function( event ) {
	const wrapInRustCode = (wrapee) => {
	    wrapper = document.createElement('pre');
	    wrapper.className = "inline-rust"
	    wrapee.parentNode.insertBefore(wrapper, wrapee);
	    wrapee.className = "rust"
	    return wrapper.appendChild(wrapee);
	};

	const isMultiLine = (codeElem) => codeElem.innerHTML.includes("\n")

	Array.from(document.getElementsByTagName("code")).filter(e => !isMultiLine(e)).forEach(wrapInRustCode)

	loadScript('{{ path_to_root }}mdbook-reveal/reveal/plugin/highlight/highlight.js')
	    .then(() => {
		Reveal.registerPlugin(RevealHighlight)
	    })
    } );

    loadScript('{{ path_to_root }}mdbook-reveal/reveal/plugin/markdown/markdown.js')
              .then(() => Reveal.initialize({
            plugins: [RevealMarkdown],
	    dependencies: [
				{ src: '{{ path_to_root }}mdbook-reveal/reveal/plugin/highlight/highlight.js', async: true }, // TODO is this required?
	    ],
          // TODO configuration in book.toml
          controls: false,
            hash: true,
	    fragmentInURL: true,
          highlight: {
            beforeHighlight: hljs => hljs.registerLanguage('rustc', () => ({ // rust compiler error highlight
              contains: [
                {
                  className: 'strong',
                  relevance: 0,
                  variants: [
                    {
                      begin: /(?=^error)/,
                      end: /\n/
                    },
                  ],
                  contains: [
                    {
                      className: 'keyword',
                      relevance: 10,
                      variants: [
                        {
                          begin: /^error\[/,
                          end: /\]/,
                        },
                        {
                          begin: /^error/,
                        },
                      ]
                    },
                  ]
                },
                {
                  className: 'strong hljs-string',
                  variants: [
                    { begin: /^ -->/ },
                    { begin: /^\s*\d*\s*\|.*(?=- help:)/, end: /\n/ },
                    { begin: /^\s*\d*\s*\|/ },
                    { begin: /^\.{3}/ }
                  ]
                },
                {
                  className: 'strong hljs-keyword',
                  variants: [
                    { begin: /\s+\^+ /, end: '\n' },
                  ]
                }
              ]
            }))
          },
          })).then(() => {
            initializeExitButton()
          })

    try {
	const socket = new WebSocket(`ws://${window.location.host}/__livereload`);
	socket.onmessage = function (event) {
	    if (event.data === "reload") {
		socket.close();
		location.reload();
	    }
	};
	window.onbeforeunload = function () {
	    socket.close();
	}
    } catch {}
  </script>

</body>

</html>
